name: Codecov workflow
on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.*'
      - '.github/**'
      - 'codecov.yml'
  pull_request:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.*'
      - '.github/**'
      - 'codecov.yml'
env:
  HIBP_API_KEY: ${{ secrets.HIBP_API_KEY }}
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.18]
    steps:
    - name: Checkout Code
      uses: actions/checkout@master

    - name: Run Tests
      run: |
        go test -v -race --coverprofile=coverage.coverprofile --covermode=atomic .
    
    - name: Upload coverage to Codecov
      if: success() && matrix.go == 1.18 && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
